body{
    border: none;
    margin: 0;
}

header{
    position: relative;
    color: white;
}

img.imagem-cabecalho{
    width: 100%;
    min-height: auto;
}

p.header-text{
    position: absolute;
    color: blue;
    font-size: 5vw;
    transform: translate(10%, -340%);
    padding-left: 10px;
    font-weight: bold;
    vertical-align: inherit;

}

.branco{
    display: flex;
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 35px;
    align-items: center;
    padding-left: 10px;
    align-items: center;
    margin: 0;
}
.branco2{
    display: flex;
    width: 95%;
    height: auto;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 35px;
    align-items: center;
    padding-left: 10px;
    align-items: center;
    overflow-y: auto;
    justify-content: center;
}

.item-ao-lado-de-imagem{
    padding-left: 10px;
    bottom:50px;
    width:50%;
    height: auto;
}



p#text-branco{
    font-size:2vw;
    word-break: break-all;
    word-wrap: break-word;
    padding-right: 10px;
}

p#text-wheat{
    font-size:2vw;
    word-break: break-all;
    word-wrap: break-word;
}



img.image-do-lado-do-texto{
    border-radius: 20px;
    border: 3px black solid;
    width: 45%;
    height: auto;   


}

h1#vermelho{
    color: red;
    word-break: break-all;
    word-wrap: break-word;
}

h1#azul{
    color:blue;
    word-break: break-all;
    word-wrap: break-word;
}

h1#amarelo{
    color:rgb(200, 200, 0);
    word-break: break-all;
    word-wrap: break-word;
}

h1#verde{
    color:green;
    word-break: break-all;
    word-wrap: break-word;
}

@media (max-width: 768px) {
    .branco{
        display: flex;
        width: 95%;
        height: auto;
        flex-direction: column;
        padding-top: 50px;
        align-items: center;
        margin: 0;
    }
    
    .branco2{
        display: flex;
        width: 95%;
        height: auto;
        flex-direction: row;
        padding-top: 50px;
        align-items: center;
        overflow-y: auto;
        justify-content: left;
    }

    .item-ao-lado-de-imagem{
        bottom:50px;
        width:90%;
        height: auto;
        padding-top: 35px;
    }

    

    p#text-branco{
        word-break: break-all;
        word-wrap: break-word;
        font-size:5vw;
    }

    p#text-wheat{
        word-break: break-all;
        word-wrap: break-word;
        font-size:5vw;

    }



    img.image-do-lado-do-texto{
        border-radius: 20px;
        border: 3px black solid;
        width: 90%;
        height: auto;


    }

    h1#vermelho{
        color: red;
        width: 90%;
    }

    h1#azul{
        color:blue;
        width: 90%;
    }
    
    h1#amarelo{
        color:rgb(200, 200, 0);
        width: 90%;
    }

    h1#verde{
        color:green;
        width: 90%;
    }

    #preco-lixo{
        align-items: left;
    }

}

#lixo{
    background-color: wheat;
    align-items: center;
}


#preco-lixo{
    background-color: lightcyan;
    align-items: center;
    align-items: center;
}

.imagem-demonstracao{
    width: 300px;
    height: auto;

}

#demonstracao{
    display: flex;
    flex-direction: row;
    min-width: 500px;
    padding-left: 50px;
    border: 2px solid black;
    border-radius: 10px;
}

#demonstracao2{
    display: flex;
    flex-direction: row;
    min-width: 700px;
    padding-left: 50px;
    border: 2px solid black;
    border-radius: 10px;
}


#preco-prod{
    display:flex;
    flex-direction: row;
    overflow-x: auto;
    background-color: lightcyan;
}

.coluna{
    display: flex;
    flex-direction: column;
}

p{
    word-break: break-all;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-right: 10px;
    padding-left: 10px;
}

h1{
    word-break: break-all;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-right: 10px;
    padding-left: 10px;
    margin: 0;
}

h2{
    word-break: break-all;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-right: 10px;
    padding-left: 10px; 
}

#imagem-exemplo{
    width: 200px;
    height: auto;
    border: 2px solid black;
    border-radius: 10px;
    background-color: w;
}

#exemplos{
    background-color: lightsalmon;
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    display: flex;
    justify-content: center;
}

#padding-arround{
    padding-left: 10px;
}

#grafico{
    background-color:violet;
}

#informacoes-sobre-a-coleta{
    background-color: lightblue;
}

#importante-pizza{
    background-image: url("_cdfa13dd-e03a-4190-843c-51894c3e3005.jpeg");
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 60%;
    width: 100%;
    margin: 0;
    height: 95px;
    align-items:center;
    text-align: center;
}

h1#branco{
    padding-top: 50px;
    color: white;
    margin: 0;
}

#importante-text{
    background-color: lightseagreen;
}

#importante-oleo{
    background-image: url("_128d4629-1ea8-4bd1-9987-8102dd385aca.jpeg");
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 100px;
    width: 100%;
    margin: 0;
    height: 95px;
    align-items:center;
    text-align: center;
}

#dica-importante{
    color: white;
    font-weight: bold;
    word-break: break-all;
}

footer{
    background-color: gray;
    height: auto;
    width: 100%;
    margin: 0;
}

#footer-text{
    word-break: break-all;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    color: white;
    font-size: 3vw;
    padding: 10px;
}

img#corte{
    border-radius: 50%;
    padding-top: 10px;
}

h1{
    padding: 10px;
}